:root{
    --color-primario: #EDEDED;
    --color-secundario: #2A7AE4;
    --color-terciario: #FFFFFF;
    --fuente-primaria: Inter, sans-serif;
}

body{
    font-family: var(--fuente-primaria);
    background-color: var(--color-primario);
}

/* Encabezado */
.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.encabezado--titulo{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
}

.encabezado--container--lista{
    display: flex;
    gap: 16px;
    align-items: center;
}

.encabezado--correo{
    font-size: 14px;
    color: #666666;
}

.encabezado--lista{
    display: none;
}

/* Section: Hero */
.hero{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    gap: 16px;
    margin: 0px 32px 32px;
}

.hero--foto{
    width: 100px;
    border-radius: 60%;
}

.section--titulo{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.hero--lista{
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

/* Section: sobre mi */
.sobre-mi{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 32px;
    background-color: #2a7be44d;
    margin-bottom: 16px;
}

/* Section: skills */
.skills{
    padding: 0 32px 16px;
    text-align: center;
}

.skills--articulo{
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.articulo--tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-grow: 1;
    min-width: 90px;
    height: 150px;
    border-radius: 8px;
    background-color: var(--color-terciario);
}

.articulo--tarjeta > img{
    width: 48px;
}

/* Section: hobbies */
.hobbies{
    padding: 0 32px 16px;
    text-align: center;
}

.hobbie--articulo{
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

/* Modo tableta */
@media (min-width: 425px){
    
    .encabezado--correo{
        font-size: 18px;
        color: black;
        font-weight: bold;
    }

    .hero{
        flex-direction: row-reverse;
    }
}


/* Modo escritorio */
@media (min-width: 768px){
    .encabezado, .hero, .sobre-mi, .skills, .hobbies{
        max-width: 90%;
        margin: auto;
    }

    .encabezado--container--lista{
        font-size: 18px;
    }

    .encabezado--lista{
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .sobre-mi{
        background-color: var(--color-primario);
    }
}